body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: ;
}
p{
  margin: 0px;
  font-size: 18px;
  font-weight: 600;
  white-space: nowrap;
}

.span-text{
  color: white;
  margin: 0px;
  font-size: 25px;
  font-weight: 600;
  white-space: nowrap;
}

img{
  cursor: pointer;
}

.container{
  margin-top: 5px;
  display: grid;
  grid-template-columns: minmax(275px,325px) 1fr;
  gap: 8px;
}



.hero{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column: 2/3;
}

.hero-left{
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  
}

input[type="search"]{
  height: 45px;
  border-radius: 16px;
  border: none;
  background-color: rgb(230, 229, 229);
  font-size: 2rem;
  
}

.hero-right{
  display: grid;
  grid-template-columns: min-content min-content min-content;
  align-items: center;
  justify-content: center;
  gap: 10px;
}



.hero-lower{
  grid-area: 2 / 2 / 2 / 4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.hero-lower-left{
  display: grid;
  grid-template-columns: min-content min-content;
  align-items: center;
}

.hero-lower-left-text{
  font-size: 26px;
}

.hero-lower-right{
  display: grid;
  grid-template-columns: min-content min-content min-content;
  gap: 20px;
  justify-content:center;
}

.hero-button{
  border: none;
  padding: 12px 26px;
  border-radius: 20px;
  color: white;
  font-weight: 600;
  background-color: blueviolet;
  font-size: 17px;
  cursor: pointer;

}


.sidebar{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-area: 1 / 1 / 5 / 1;
  background-color: rgb(101, 35, 206);
  justify-content: center;
}

.sidebar-one{
  display: grid;
  gap: 15px;
}


.sidebar-one-div{
  display: grid;
  grid-template-columns: min-content min-content;
  gap: 50px;
  align-items: center;
}

.small-image{
  width: 65px;
  height: 65px;
  object-fit: cover;
  border-radius: 32px;
  cursor: pointer;
}
