body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow: hidden;
  background-color:  #737373;
}

/* 
*{ border: 1px solid red; } */
p{
  margin: 0px;
  font-size: 18px;
  font-weight: 600;
  white-space: nowrap;
}

.span-text{
  color: white;
  margin: 0px;
  font-size: 25px;
  font-weight: 600;
  white-space: nowrap;
}

.bigger{
  font-size: 33px;
  font-weight: bolder;
}

img{
  cursor: pointer;
}

label{
  padding-right: 10px;
}

.container{
  display: grid;
  grid-template-columns: minmax(min-content,425px) 1fr;
  grid-template-rows: 1fr 1fr 5fr;
}

.whole-left-hero{
  padding-left: 25px;
  background-color: white;
  box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);

}



.hero{
  padding-top: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column: 2/3;
}

.hero-left{
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  
}

input[type="search"]{
  height: 45px;
  border-radius: 16px;
  border: none;
  background-color: rgb(230, 229, 229);
  font-size: 2rem;
  
}

.hero-right{
  display: grid;
  grid-template-columns: min-content min-content min-content;
  align-items: center;
  justify-content: center;
  gap: 10px;
}



.hero-lower{
  grid-area: 2 / 2 / 2 / 4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 10px;
  padding-top: 15px;
}

.hero-lower-left{
  display: grid;
  grid-template-columns: min-content min-content;
  align-items: center;
}

.hero-lower-left-text{
  font-size: 26px;
}

.hero-lower-right{
  display: grid;
  grid-template-columns: min-content min-content min-content;
  gap: 20px;
  justify-content:center;
  padding-left: 25px;
}

.hero-button{
  border: none;
  padding: 10px 23px;
  border-radius: 20px;
  color: white;
  font-weight: 600;
  background-color: #737373;
  font-size: 17px;
  cursor: pointer;

}


.sidebar{
  display: grid;
  grid-template-rows: min-content 1fr 2fr;
  grid-area: 1 / 1 / 5 / 1;
  background-color: #404040;
  justify-content: center;
  padding-left: 3px;
  padding-right: 3px;
}

.sidebar-one{
  display: grid;
  margin-top: 60px;
  gap: 15px;
}


.sidebar-one-div{
  display: grid;
  grid-template-columns: min-content min-content;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}

.sidebar-one-div:hover{
 box-shadow: 12px 12px 12px 1px rgba(0, 0, 0, 0.2);
}

.sidebar-title{
  display: grid;
  grid-template-columns: min-content min-content;
  align-items: center;
  justify-content: space-between;
  height: 150px;
}

.sidebar-two{
  display: grid;
  grid-template-rows: min-content min-content min-content;
  gap: 15px;
  margin-top: 50px;
}

.small-image{
  width: 65px;
  height: 65px;
  object-fit: cover;
  border-radius: 32px;
  cursor: pointer;
}


.main{
  display: grid;
  grid-area: 2/2/5/2;
  grid-template-columns: 1.7fr 1fr;
  grid-template-rows: 1fr 1.5fr;
}
