body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color:  
  #e5e7eb;
}


*{
  font-family: 'Forum', cursive;
font-family: 'Roboto', sans-serif;
}

p{
  margin: 0px;
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
}

.span-text{
  color: white;
  margin: 0px;
  font-size: 25px;
  font-weight: 600;
  white-space: nowrap;
}

.bigger{
  font-size: 33px;
  font-weight: bolder;
}

img{
  cursor: pointer;
}

label{
  padding-right: 10px;
}

.container{
  display: grid;
  grid-template-columns: minmax(min-content,325px) 1fr;
  grid-template-rows: 0fr 0fr;
}

.whole-left-hero{
  display: grid;
  padding-left: 25px;
  background-color: white;
  box-shadow: 3px 3px 2px 1px rgb(0 0 0 / 20%);
  height: 200px;
  align-content: center;
}



.hero{
  padding-top: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.hero-left{
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  
}

input[type="search"]{
  height: 45px;
  border-radius: 16px;
  border: none;
  font-size: 20px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  padding-left: 20px;
  background-color:  
  #e5e7eb;
}



.hero-right{
  display: grid;
  grid-template-columns: min-content min-content min-content;
  align-items: center;
  justify-content: center;
  gap: 10px;
}



.hero-lower{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 20px 10px 10px;
}

.hero-lower-left{
  display: grid;
  grid-template-columns: min-content min-content;
  align-items: center;
}

.hero-lower-left-text{
  font-size: 26px;
}

.hero-lower-right{
  display: grid;
  grid-template-columns: min-content min-content min-content;
  gap: 20px;
  justify-content:center;
  padding-left: 25px;
}

.hero-button{
  border: none;
  padding: 10px 23px;
  border-radius: 20px;
  color: white;
  font-weight: 600;
  background-color: 
  
  #38bdf8;
  font-size: 17px;
  cursor: pointer;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);

}


.sidebar{
  display: grid;
  grid-template-rows: min-content 1fr 2fr;
  grid-area: 1 / 1 / 3 / 1;
  background-color: 
  #38bdf8;
  justify-content: center;
  padding-left: 3px;
  padding-right: 3px;
}

.sidebar-one{
  display: grid;
  margin-top: 60px;
  gap: 35px;
}


.sidebar-one-div{
  display: grid;
  grid-template-columns: min-content min-content;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}

.sidebar-one-div:hover{
 box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.2);
 width: min-content;
 padding: 10px;
 transition: 1.2s 
}

.sidebar-title{
  display: grid;
  grid-template-columns: min-content min-content;
  align-items: center;
  justify-content: space-between;
  height: 150px;
}

.sidebar-two{
  display: grid;
  grid-template-rows: min-content min-content min-content;
  gap: 35px;
  margin-top: 50px;
}

.small-image{
  width: 65px;
  height: 65px;
  object-fit: cover;
  border-radius: 32px;
  cursor: pointer;
}


.main{
  display: grid;
  margin: 20px;
  grid-template-columns: 2fr 1fr;
  gap: 3px;
}


.main-one{
  grid-area: 1 / 1 / 3 / 2;
  }

.cards{
    background-color: white;
    margin-bottom: 50px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
    border-left: 10px solid #fcd34d;
}

.cards-containers{
  display: grid;
  gap: 10px;
  grid-template-columns: repeat( auto-fit, minmax(320px, 1fr) );
}

.card-text{
  white-space: normal;
  font-size: 19px;
}


.main-one-text{
   font-size: 25px;
   font-weight: 700;
   margin: 10px;
}

.cards-emote{
  display: flex;
  justify-content: end;
  gap: 15px;
  margin-right: 5px;
}

.main-two-text{
  white-space: normal;
}

.main-two-smaller-text{
  font-size: 15px;
}



.main-two-card-container{
  border-radius: 20px;
  background-color: white;
  padding: 10px;
  margin: 10px;
  box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);

}

hr.solid {
  border-top: 3px solid #bbb;
}

.small-text{
  font-size: 13px;
}

.main-three-divs{
  display: flex;
  align-items: center;
  margin: 10px;
}

.main-three-divs img{
  padding-right: 5px;
}

.main-three-container{
  border-radius: 20px;
  background-color: white;
  padding: 10px;
  margin: 10px;
  box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
}


.bold-text{
  font-weight: 700;
  /* font-size: 20px;
  margin-bottom: 2px; */
}